<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        <h1 class="text-primary m-0">
            <i class="fa fa-utensils me-3"></i>plateshare
        </h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>

    <% var isUserLoggedIn = typeof userId !== 'undefined' && userId; %>
    <% var isMemberLoggedIn = typeof memberId !== 'undefined' && memberId; %>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">

            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/request/requestedForFood" class="nav-item nav-link">Requested For Food</a>

            <% if (isMemberLoggedIn) { %>
                <a href="/ourTeams/readyToPick" class="nav-item nav-link">Ready To Pick</a>
            <% } %>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>

                <div class="dropdown-menu m-0">

                    <% if (!isUserLoggedIn && !isMemberLoggedIn) { %>
                        <!-- Not logged in -->
                        <a href="/users/signup" class="dropdown-item">User Sign Up</a>
                        <a href="/users/login" class="dropdown-item">User Login</a>
                        <a href="/memberSignup" class="dropdown-item">Member Sign Up</a>
                        <a href="/ourTeams/login" class="dropdown-item">Member Login</a>

                    <% } else if (isUserLoggedIn) { %>
                        <!-- User logged in -->
                        <a href="/users/user" class="dropdown-item">User Profile</a>
                        <a href="/users/logout" class="dropdown-item">Logout</a>
                        <a href="/request" class="dropdown-item">Request Food</a>

                    <% } else if (isMemberLoggedIn) { %>
                        <!-- Member logged in -->
                        <a href="/ourTeams/memberProfile" class="dropdown-item">Member Profile</a>
                        <a href="/ourTeams/logout" class="dropdown-item">Logout</a>
                    <% } %>

                    <a href="/team" class="dropdown-item">Our Team</a>
                    <a href="/testimonial" class="dropdown-item">Testimonial</a>
                    <a href="/service" class="dropdown-item">Services</a>
                </div>
            </div>

            <a href="/contact" class="nav-item nav-link">Contact</a>
        </div>

        <% if (isUserLoggedIn) { %>
            <a href="/users/donate" class="btn btn-primary py-2 px-4">Donate Food</a>
        <% } else { %>
            <a href="/users/login" class="btn btn-primary py-2 px-4">Login to Donate</a>
        <% } %>
    </div>
</nav>

<!-- Flash Messages -->
<% if (typeof success !== 'undefined' && success && success.length > 0) { %>
    <div class="flash-message success">
        <%= success[0] %>
    </div>
<% } %>

<% if (typeof error !== 'undefined' && error && error.length > 0) { %>
    <div class="flash-message error">
        <%= error[0] %>
    </div>
<% } %>